<div class="page">
        <h1 class="sign-form__title">Здесь будет страница чата</h1>
    <p>А пока можете ознакомится с другими страницами приложения:</p>
    <nav>
        <ul>
            <li>
                {{> Link href="#" dataPage="/signIn" text="Страница Авторизации"}}
            </li>
            <li>
                {{> Link href="#" dataPage="/signUp" text="Страница Регистрации"}}
            </li>
            <li>
                {{> Link href="#" dataPage="/profile" text="Страница Профиля"}}
            </li>
            <li>
                {{> Link href="#" dataPage="/404" text="Страница 404"}}
            </li>
            <li>
                {{> Link href="#" dataPage="/500" text="Страница 5**"}}
            </li>
        </ul>
    </nav>
</div>