<div class="page">
    <div class="sign-form">
        <h1 class="sign-form__title">{{title}}</h1>
        <form class="sign-form__form">
            {{#each inputs}}
                {{> Input class="sign-form" }}
            {{/each}}
            <div class="sign-form__actions">
                {{> Button id=submitButton.id type="submit" text=submitButton.text disabled=disabled }}
                {{> Link href=link.href class="sign-form__link" dataPage=link.dataPage text=link.text }}
            </div>
        </form>
    </div>
</div>