<div class="page">
    <div class="error-message">
        <h1 class="error-message__title">{{errorCode}}</h1>
        <p class="error-message__description">{{errorDescription}}</p>
        {{> Link href="#" class="error-message__link" dataPage="/" text="Назад к чатам"}}
    </div>
</div>